# RDS PostgreSQL
RDS_ENDPOINT=your-rds-instance.xxxx.eu-central-1.rds.amazonaws.com
RDS_DB=ecommerce
RDS_USERNAME=admin
RDS_PASSWORD=your-rds-password

# ElastiCache Redis
REDIS_HOST=your-elasticache.xxxx.cache.amazonaws.com
REDIS_PORT=6379

# JWT — auth-service ile aynı secret olmalı
JWT_SECRET=3cfa76ef14937c1c0ea519f8fc057a80fcd04a7420f8e8bcd0a7567c272e007b
